#container {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    /* flex-direction:column-reverse;
    flex-direction: row-reverse;
    flex-direction: column; */
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap;
    flex-wrap: wrap-reverse; */
    justify-content: flex-start;
    /* justify-content: space-around;
    justify-content: space-between;
    justify-content: center;
    justify-content: flex-start; 
    justify-content: flex-start; */  /* main */
    
    /* flex-direction: row → MAIN axis is horizontal;
     justify-content → MAIN axis
    align-items     → CROSS axis */
    
    /* flex-direction: column; main axis = vertical 
    Main axis = vertical ↓
    Cross axis = horizontal → */

    /* flex-wrap: wrap; */

    /* align-items: flex-start;      -----> for cross axis alignment */
     /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: baseline; */


    /* align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-between;
    align-content: space-around;
    align-content: stretch; */
    /* align-content: baseline; */






}

h1 {
    text-align: center;
}

#container div {
    height: 100px;
    width: 100px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
    
#orange {
     
    align-self:  flex-end;
    align-self: flex-start;
    align-self: center;
    align-self: baseline;

}