.loader {
    width: 60px;
    background-color: pink;
    height: 60px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #59abdf;
    border-radius: 50%;

    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}