    
div{
    width: 400px;
    height: 50px;
    text-align: center;
    background-color: #f9f9f9;
    border: 2px solid black;
    margin: 20px auto;
    transition: all 5s ease-in-out ;
}



div:hover{
   
    background-color: #bf427f;
    border: 2px dotted rgb(255, 155, 155);
    box-shadow:2px 2px 8px rgb(0, 0, 0);
    
}